<add-item [todoItem]="todoItem" (addItem)="addItem($event)"></add-item>
Items count: {{getFilteredItems().length}}
<div class="filters">
  <button class="btn" [ngClass]="{red: filter === filters.All}" (click)="setFilter(filters.All)">All</button>
  <button class="btn" [ngClass]="{red: filter === filters.Done}" (click)="setFilter(filters.Done)">Done</button>
  <button class="btn" [ngClass]="{red: filter === filters.Undone}" (click)="setFilter(filters.Undone)">Undone</button>
</div>
<ul class="collection">
  <li class="collection-item" *ngFor="let todo of getFilteredItems()">
    <div>
      <input [id]="todo.id" type="checkbox" [checked]="todo.isDone" (click)="markSelected(todo)">
      <label [htmlFor]="todo.id">{{todo.text}}</label>
      <a class="secondary-content" href="#" (click)="removeItem(todo)">
        <i class="material-icons">delete</i>
      </a>
    </div>
  </li>
</ul>
